@model remotebash.web.Models.ViewModel.UserComputer
@{
    ViewData["Title"] = "Command";
    ViewData["UserConnect"] = $"/{Model.User.Name}/laboratories/computers/{Model.Computer.OperationalSystem} - {Model.Computer.Macaddress}";
}

<script>   
   var idUser = @Model.User.Id;
   var idPc = @Model.Computer.Id;    
   var idLab = @Model.Laboratory.Id;
   var urlRest = "@(Model.UrlRest)";
</script>

    <div class="prompt" id="pc-001">
        <div class="container-cmd">
            <div id="container-return" class="text-white"></div>
            <div class="container-input">
                <div class="user-cmd text-white">remotebash></div>
                <input type="text" class="execute-cmd" id="input-cmd" autofocus />
            </div>
        </div>
    </div>