<!DOCTYPE html5>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<title>RemoteBash</title>
<link rel="stylesheet" type="text/css" href="../css/materialize.css" />
<link rel="stylesheet" type="text/css" href="../css/cadastro.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<div class="row">
		<div class="col l10 m10 s12 offset-l2 offset-m2">
			<form class="col l10 m10 s12 quadroForm" th:action="@{/printar}" th:object="${user}" method="post">
				<!-- <div style="position: initial;float: right;" th:utext="${mensagem}"></div> -->
				<h3 class="center-align">registrar-se</h3>
				<div class="row">
					<div class="input-field l6 m12 col s12">
						<input id="nome" type="text" class="validate" required="required" th:field="*{name}">
						<label for="nome">seu nome</label>
					</div>
					<div class="input-field l6 m12 col s12">
						<input id="telefoneMovel" type="text" class="validate form-control" required="required" th:field="*{cellphone}"> 
						<label for="telefoneMovel">celular</label>
					</div>
					<div class="input-field l6 m12 col s12">
						<input id="endereco" type="text" class="validate form-control" required="required" th:field="*{address}"> 
							<label for="endereco">endereço</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field l6 m12 col s12">
						<input id="email" type="email" class="validate" required="required" th:field="*{email}"> 
						<label for="email">e-mail</label>
					</div>
					<div class="input-field l3 m6 col s12">
						<input id="senha" type="password" class="validate" required="required" th:field="*{password}"> 
						<label for="senha">senha</label>
					</div>
					<div class="input-field l3 m6 col s12">
						<input id="confirmarSenha" type="password" class="validate" required="required"> 
						<label for="confirmarSenha">confirmar senha</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col l4 m6 s12 offset-l1">
						<button class="col l12 m12 s12 waves-effect waves-light btn-large red" >cancelar</button>
					</div>
					<div class="input-field col l4 m6 s12 offset-l2">
						<button class="col l12 m12 s12 waves-effect waves-light btn-large" type="submit" >confirmar</button>
					</div>
				</div>
			</form>			
		</div>
	</div>
</body>
</html>
	<script type="text/javascript" src="../js/materialize.js"></script>